.aboutWrapper {
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 100%;
    vertical-align: top;

    @media screen and (min-width: '1000px') {
        height: 100%;
        width: max-content;
    }

    * {
        color: white;
    }

    .aboutContent {
        width: 80%;
        max-width: 260px;
        margin: 50px 24px 120px 24px;

        @media screen and (min-width: '1000px') {
            display: flex;
            align-items: baseline;
            width: 100%;
            height: 100vh;
            max-width: none;
            margin: 0 0 0 15vw;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
        @media screen and (min-width: '1000px') {
            line-height: 18px;
            font-size: 14px;
        }
        }

        li {
            font-size: 16px;
            line-height: 24px;;
        }

        h6 {
	        margin-bottom: 16px;
        }

        .aboutIntroWrapper {
            position: relative;
            // &:after {
            //     content: '';
            //     position: absolute;
            //     width: calc(100% + 24px);
            //     height: 1px;
            //     background: white;
            //     left: -42px;
            //     bottom: 20px;
            // }
            @media screen and (min-width: '1000px') {
                margin-top: calc(46vh);
                padding: 0 50px;  
                // &:after {
                //     left: auto;
                //     bottom: 0;
                //     right: 0;
                //     height: 450px;
                //     width: 1px;
                // }
            }
        }
    }
}

// NEW

.intro {
    padding-bottom: 120px;

    h2 {
        margin-bottom: 24px;
    }


    @media screen and (min-width: '1000px') {
        white-space: normal;
        width: 350px;
        height: 460px;
        padding-bottom: 0;
        h2 {
            margin-bottom: 8px;
        }
        .col2 {
            margin-top: 120px;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 4fr;
        }
    }
}

.skillSet {
    padding-bottom: 104px;
    position: relative;

    @media screen and (min-width: '1000px') {
        white-space: normal;
        width: 290px;
        height: 460px;
        padding: 0;
    }

    ul {
        margin-left: 60px;

        li {
            margin-bottom: 16px;
            font-weight: 200;
            line-height: 18px;

            @media screen and (min-width: '1000px') {
                margin-bottom: 8px;
            }
        }
    }
}

.experience {
    @media screen and (min-width: '1000px') {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-right: 15vw;
        height: 200%;
        white-space: normal;
    }

    .work {
        margin-bottom: -50px;
        position: relative;
        @media screen and (min-width: '1000px') {
            margin-bottom: 0;
        }

        h2 {
            margin-bottom: 60px;
            @media screen and (min-width: '1000px') {
                margin-bottom: 120px;
            }
        }

        .col2 {
            margin-bottom: 120px;
            @media screen and (min-width: '1000px') {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 0px;
                max-width: 320px;
                white-space: normal;
                margin-bottom: 42px;
            }
        }
    }
    .interests {
        position: relative;
        .col2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 24px;
            margin-bottom: 50px;

            @media screen and (min-width: '1000px') {
                max-width: 280px;
                grid-template-columns: 1fr 3fr;
                grid-gap: 40px;
            }

            div {
                p {
                    margin-bottom: 16px;
                }
            }
        }
    }
}