.col3 {
    @media screen and (min-width: '1000px') {
        display: grid;
        grid-gap: 80px;

        h5 {
            margin: 0;
        }
    }
    p {
        margin-bottom: 24px;
        font-size: 11px;
        line-height: 1.6;
        color: #7b7b7b;
    
        @media screen and (min-width: '1000px') {
            font-size: 12px;
        }
    }
}