.dividerFullHeight {
    @media screen and (min-width: "1000px") {
    position: relative;
    display: inline;
    height: 100vh;
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100vh;
        background: black;
    }
}
}