.font {
    &__extra-small {
        font-size: 14px;
        @media screen and (min-width: '1000px') {
            font-size: 11px;
        }
    }
    &__small {
        font-size: 18px;
        @media screen and (min-width: '1000px') {
            font-size: 14px;
        }
    }
    &__medium {
        font-size: 22px;
        @media screen and (min-width: '1000px') {
            font-size: 16px;
        }
    }
    &__large {
        font-size: 22px;
        @media screen and (min-width: '1000px') {
            font-size: 24px;
        }
    }
    &__extra-large {
        font-size: 34px;
        @media screen and (min-width: '1000px') {
            font-size: 32px;
        }
    }
    &.bold {
        font-weight: bold;
    }
    &.light {
        font-weight: lighter;
    }
}

.bold {
    font-weight: bold;
}