.menu-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 4;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    pointer-events: none;

    &.fade-in {
        opacity: 1;
        pointer-events: all;
    }

    .menu-container {
        margin-top: 110px;
        margin-left: 24px;
        color: black;

        @media screen and (min-width: '1000px') {
            width: 50vw;
            display: flex;
            justify-content: space-between;
            margin-left: 20%;
            margin-top: 40px;
        }

        a {
            text-decoration: none;
        }
    }
}